.button {
  width: 110px;
  height: 36px;
  border-radius: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 8px;
  row-gap: 0px;
  padding: 8px 20px 8px 20px;
  background: #FF720C;
}
.button .details {
  flex-shrink: 0;
  width: 46px;
  height: 20px;
  color: #FFFFFF;
  white-space: nowrap;
  font-family: "Inter";
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.button .chevron-right {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}
/* ===========================
.button {
    width: 110px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
    row-gap: 0px;
    padding: 8px 20px 8px 20px;
    background: #FF720C;
    .details {
        flex-shrink: 0;
        width: 46px;
        height: 20px;
        color: #FFFFFF;
        white-space: nowrap;
        font-family: "Inter";
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }
    .chevron-right {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
    }
} */
